@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
}

body {
  background-color: #000000;
  color: rgb(var(--foreground));
}

[data-radix-popper-content-wrapper] [role="dialog"] button[type="button"] {
  display: none !important;
}

/* dont remove any of this, 1 of these removes an x button that took forever to remove and i cannot waste time to check */
.dialog-overlay[data-state="open"],
.dialog-content[data-state="open"] {
  animation: none !important;
}

[role="dialog"] [data-radix-collection-item] {
  display: none !important;
}

[data-radix-dialog-overlay] {
  display: none !important;
}

.dialog-overlay {
  display: none !important;
}

[role="dialog"] > button {
  display: none !important;
}

[data-dialog-close] {
  display: none !important;
}

div[role="dialog"] > button[type="button"]:first-of-type {
  display: none !important;
}

div[data-radix-popper-content-wrapper] > div[role="dialog"] > button {
  display: none !important;
}